header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 57px;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

header .header__content {
    width: 1150px;
}

header .header__content nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .header__content nav > .logo__nav figure > img {
    width: 25px;
    margin-right: 15px;
}


.logo__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__content__titulo {
    font-size: 20px;
    color: #ffffff;
}